<header >
    <div class="p-3 mb-2 bg-primary text-white" >
        <div class="navbar-brand align-item-center d-flex">
            <i style="font: size 40px;"class="fas fa-shipping-fast">
                <strong> procart</strong></i>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="search product by category">
            </div>
            <span class="fas fa-search search-icon"></span> &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" >
                <i style="font-size: 20px;" class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge bg-danger">5</div>
            </button>

            <button class="btn btn-primary" >
                <i class="fa fa-user" aria-hidden="true"></i>
            </button>
        </div>
        
    </div>
</header>

